<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>POST</title>
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/temp.css') }}"/>
	
</head>
<body>
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<ul>
	<li> <a href = "{{url_for('home')}}">home page</a> </li>
	<li> <a href = "{{url_for('post')}}">upload a confession</a> </li>
	<li> <a href = "{{url_for('confessions')}}">confessions</a> </li>
</ul>
	<form action ="/post" method = "post" class="form">

		<div class="form__group"> 
		<span>nickname:</span>
		<br>
		<input type = "text" name = "name" class="form__input" >
		<br>
		</div>

		<div class="form__group"> 
		<span>your age</span>
		<br>
		<input type="text" name="age" class="form__input" >
		<br>
		</div>

		<div class="form__group"> 
		<span>your confession</span>
		<br>
		<textarea type="text" name="confession" class="form__input" ></textarea> 
		<br>
		</div>
		
		<input type = "submit" value="submit" class="btn btn-outline-light">
	</form>
	<script type = "text/javascript">
		const button = document.querySelector('.btn')
		const form   = document.querySelector('.form')

		button.addEventListener('click', function() {
		   form.classList.add('form--no') 
		});
	</script>
	  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


</html>